# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Database
*.db
*.sqlite3

# Env / Secrets
.env
.env.*

# Uploads / Local Data
uploads/
backend/uploads/

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
